<button id="floating-music-button" (click)="enableSound()" style="position: fixed; right: 10px; bottom: 10px; background-color: gold; color: black; border: none; border-radius: 50%; width: 50px; height: 50px; cursor: pointer; z-index: 1000;">
  🎵
</button>
<audio id="background-audio" loop>
<button id="music-button" (click)="enableSound()" style="position: fixed; left: 10px; bottom: 10px; background-color: gold; color: white; border: none; border-radius: 50%; width: 50px; height: 50px; cursor: pointer; z-index: 1000;">
  🎵
</button>
  <source src="/cancion.mp3" type="audio/mpeg">
</audio>

<div class="primer_elemento">
  <h2 class="dorado_normal">Nos casamos</h2>
  <h1 class="dorado_brillante">¡Nadia & Antonio!</h1>
</div>

<div class="promesa">
  <p class="dorado_normal">Una coincidencia nos presentó pero</p>
  <h1 class="dorado_brillante">fue Dios quien preparó <br> cada detalle de nuestro encuentro.</h1>
  <p>En el momento perfecto, nuestras almas se reconocieron.</p>
  <p>Es por eso que queremos celebrar junto a ti este amor que un día nació y nos unirá para siempre.</p>
</div>


<div class="invitacion">
  <h1 class="dorado_brillante">Enero</h1>
  <h2 class="dorado_normal">Sabado - 10 - 2026</h2>
  <p> Tan solo faltan {{ timeRemaining().days }} días, {{timeRemaining().hours }} horas, {{ timeRemaining().minutes }} minutos, {{ timeRemaining().seconds }} segundos.</p>
  <h1 class="dorado_brillante">Acompañanos {{ nombre }}!</h1>
  <p>Estás invitado(a) en este día tan especial...</p>
  <p>Número de invitados: {{ numeroInvitados }}</p>
  <p>¡Esperamos verte allí!</p>
</div>

<div class="invitacion">
  <h1 class="dorado_brillante">Iglesia</h1>
  <p>San Francisco de Asís</p>
  <p>HORA: 7:30 P.M. </p>

  <h1 class="dorado_brillante">Recepción</h1>
  <p>Hotel Laja Real: Salón Angostura</p>
  <p>HORA: 12:00 A.M.</p>
</div>

<div class="promesa">
  <h2 class="dorado_brillante"> Te esperamos</h2>
  <p>Contamos con su presencia para hacer de este día una celebración inolvidable.</p>
  <p>¡No podemos esperar a celebrar con ustedes! Allá nos vemos.</p>
</div>
