<audio id="background-audio" autoplay loop>
  <source src="/cancion.mp3" type="audio/mpeg">
</audio>

<div class="primer_elemento">
  <h2 class="dorado_normal">Nos casamos</h2>
  <h1 class="dorado_brillante">¡Nadia & Antonio!</h1>
</div>

<div class="promesa">
  <p class="dorado_normal">Una promesa de</p>
  <h1 class="dorado_brillante">Amor eterno</h1>
  <p>Un si para toda la vida...</p>
  <p>Hoy es el viaje de nuestras vidas, guiados por el amor de Dios quién es nuestra luz y nuestra mayor bendición.</p>
  <p>Uno para el otro, ambos para Dios...</p>
</div>


<div class="invitacion">
  <h1 class="dorado_brillante">Enero</h1>
  <h2 class="dorado_normal">SABADO - 10 - 2026</h2>
  <h1 class="dorado_brillante">Acompañanos {{ nombre }}!</h1>
  <p>Estás invitado(a) en este día tan especial...</p>
  <p>Número de invitados: {{ numeroInvitados }}</p>
  <p>¡Esperamos verte allí!</p>
</div>

