<button id="floating-music-button" (click)="enableSound()" style="position: fixed; right: 10px; bottom: 10px; background-color: gold; color: black; border: none; border-radius: 50%; width: 50px; height: 50px; cursor: pointer; z-index: 1000;">
  🎵
</button>
<audio id="background-audio" loop>
<button id="music-button" (click)="enableSound()" style="position: fixed; left: 10px; bottom: 10px; background-color: gold; color: white; border: none; border-radius: 50%; width: 50px; height: 50px; cursor: pointer; z-index: 1000;">
  🎵
</button>
  <source src="/cancion.mp3" type="audio/mpeg">
</audio>

<div class="primer_elemento">
  <h2 class="dorado_normal">Nos casamos</h2>
  <h1 class="dorado_brillante">¡Nadia & Antonio!</h1>
</div>

<div class="promesa">
  <p class="dorado_normal">Una promesa de</p>
  <h1 class="dorado_brillante">Amor eterno</h1>
  <p>Un si para toda la vida...</p>
  <p>Hoy es el viaje de nuestras vidas, guiados por el amor de Dios quién es nuestra luz y nuestra mayor bendición.</p>
  <p>Uno para el otro, ambos para Dios...</p>
</div>


<div class="invitacion">
  <h1 class="dorado_brillante">Enero</h1>
  <h2 class="dorado_normal">SABADO - 10 - 2026</h2>
  <h1 class="dorado_brillante">Acompañanos {{ nombre }}!</h1>
  <p>Estás invitado(a) en este día tan especial...</p>
  <p>Número de invitados: {{ numeroInvitados }}</p>
  <p>¡Esperamos verte allí!</p>
</div>

<div class="invitacion">
  <h1 class="dorado_brillante">Iglesia</h1>
  <p>San Francisco de Asís</p>
  <p>HORA: 7:30 P.M. </p>

  <h1 class="dorado_brillante">Recepción</h1>
  <p>Angostura del hotel Laja Real</p>
  <p>HORA: 0:00 P.M.</p>
</div>

<div class="promesa">
  <h2 class="dorado_brillante"> Te esperamos</h2>
  <p>Contamos con su presencia para hacer de este día una celebración inolvidable.</p>
  <p>¡No podemos esperar a celebrar con ustedes! Allá nos vemos.</p>
</div>
